@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.app {
  font-family: sans-serif;
  text-align: center;
}

/* repos timeline */

.hideScrollbar{
  background: rgb(230,230,230);
  min-width:500px;
  height:500px;
  overflow-y: scroll;
  border-radius: 5px;
  font-family: 'Open Sans',arial;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.closeBtn{
  cursor:pointer;
  position:absolute;
  top:-10px;
  color:#0F0E0E;
  right:-10px;
  font-size: 2rem;
  z-index:10;
  transition:color 0.5s;
}
.closeBtn:hover{
  color:#2C3333;
}

.timeline{
  margin:0 auto;
  width:100%;
  position:relative;
  margin-top:2rem;
}
.timeline::before{
  content:'';
  position:absolute;
  width:5px;
  background: rgb(80,80,80);
  height:100%;
  left:50%;
  top:0;
  transform:translateX(-50%);
}

.container{
  padding: 10px 35px;
  position: relative;
  width: 50%;
}
.container:nth-child(odd){
  text-align:right;
}
.container:nth-child(even){
  left:50%;
}
.container::before{
  content:"";
  height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top:-15px;
  width: 0;
  z-index: 1;
  border: medium solid rgb(248,248,248);
}
.container::after{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  border: 4px solid rgb(255,80,80);
  top: 50%;
  margin-top:-13px;
  transform:translateY(-50%);
  border-radius: 50%;
  z-index: 1;
}
.container:nth-child(odd)::after{
  right: -10px;
}
.container:nth-child(even)::after{
  left:-10px;
}
.container:nth-child(odd)::before{
  right:25px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(248,248,248);
}
.container:nth-child(even)::before{
  left:25px;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(248,248,248) transparent transparent;
}

.repoName{
  background: rgb(248,248,248);
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(50,50,50);
  word-break: break-all;
  position:relative;
  z-index:5;
}
.year{
  margin: 1em 0.75em 0 0;
  color: rgb(50,50,50);
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}